@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Start global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1)) no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 7rem 0;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #ffffff;
}

img {
    width: 90%;
    max-width: 90%;
}

/* End global */
/* Start reusable */
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
    /*was margin top before, image wasnt so big*/
}

.section-heading h1 {
    font-size: 3.5rem;
    opacity: .3;
    color: cyan;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}

.has-margin-left {
    margin-left: 5rem;
}

/* End reusable */

/* Start header */
header {
    width: 90%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: cyan;
}

.nav-list {
    list-style: none;
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-list {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: 1rem;
    -webkit-background-clip: text;
}


/* Banner Area */

.site-banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-banner .container .site-title h3 {
    padding-top: 10%;
    font-weight: 900;
    font-size: 3.5rem;
}

.site-banner .container .site-title h3::after {
    content: " ";
    height: 2px;
    width: 28vw;
    background: white;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-banner .container .site-title h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.site-banner .container .site-title h1>span {
    font-size: 7rem;
    text-transform: uppercase;
    color: cyan;
    opacity: .3;
}

.site-banner .container .site-title h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.banner-image {
    flex: 1;
    margin-left: 5rem;
}



/* End Banner Area */

/* Start about */
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    margin-top: 10rem;
    /* extra */
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
    color: cyan;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
}

.profile-img .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 43%;
    height: 0;
    opacity: .7;
    transition: .5s ease;
    border-radius: 8px;
}

.profile-img:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about-details {
    flex: 1;
}

.bio {
    font-size: 1.5rem;
    font-weight: 300;
}

.bio li {
    padding: .5rem;
    list-style: none;
}

.social-media {
    margin-top: 2rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.fa-facebook-square:hover {
    color: #4267b2;
}

.fa-github-square:hover {
    color: #F1502F;
}

.fa-instagram:hover {
    background: linear-gradient(#fd57bf, #ffe838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    color: #0077B5;
}

/*End about*/

/* Start skills */
.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    color: cyan;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid cyan;
    background-color: grey;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    color: cyan;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/* End skills */

/* Start portfolio */
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    flex: 1;
}

.portfolio-description {
    flex: 1;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}

/*Start contact*/
.contact {
    background-color: ;
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: cyan;
}

input[type="submit"] {
    width: initial;
    background-color: cyan;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: grey;
    background-color: cyan;
}

/*End contact*/

/*Start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: rgba(43, 55, 96, 1);
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: cyan;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}

/*End footer*/

/*Start animations*/
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(0, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
    }
}

/*End animations*/

/*Start media queries*/
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1)) no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }



    @media screen and (max-width: 600px) {

        .menu-toggler {
            top: 2rem;
            right: 2rem;
        }

        .landing-text h1 {
            font-size: 7rem;
        }

        .landing-text h6 {
            font-size: 1.3rem;
        }

        .nav-link {
            font-size: 3.5rem;
        }

        .about .container {
            flex-direction: column;
        }

        .site-banner .container {
            flex-direction: column;
        }

        .banner-image {
            margin: 0 0 7rem 0;
        }

        .profile-img {
            margin: 0 0 7rem 0;
        }

        .portfolio-item {
            flex-direction: column;
        }

        .portfolio-img {
            margin: 0 0 2rem 0;
            order: 1;
        }

        .portfolio-description {
            margin: 0;
            order: 2;
        }

        .timeline p {
            font-size: 1.6rem;
        }

        .timeline .date::before {
            font-size: 1.4rem;
        }

        form {
            width: 100%;
        }

        .up {
            right: 2rem;
        }
    }

    /*End media queries*/
